*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Logo{

width: 190px;

}
.Get-started{

  background-color: #60a159;
display: flex;
align-items: center;
font-weight: 500;
justify-content: center;
width: 150px;
border: 0;
border-radius: 10px;
height: 40px;
text-decoration: none;
color: white; 
box-shadow: 1px 5px 0px -2px rgb(86, 81, 81);

}
.Get-started:hover{


  color: white;
  background-color: green;
}
